# Cache
__pycache__
/nyaa/static/.webassets-cache

# Virtual Environments
/venv

# Coverage
.coverage
/htmlcov

# Editors
/.vscode

# Databases
*.sql
/test.db

# Webserver
/uwsgi.sock

# Application
/install/*
/config.py
/es_sync_config.json
/test_torrent_batch

# Build Output
nyaa/static/js/bootstrap-select.min.js
nyaa/static/js/main.min.js

# Other
*.swp
