# Cache
__pycache__
/nyaa/static/.webassets-cache

# Virtual Environments
/venv
/bin
/lib
/lib64
/share
pyvenv.cfg
pip-selfcheck.json

# Coverage
.coverage
/htmlcov

# Editors
/.vscode

# Databases
*.sql
test.db

# Webserver
uwsgi.sock

# Application
install/*
config.py
/test_torrent_batch
torrents

# Other
*.swp
