alembic==1.0.11
appdirs==1.4.3
argon2-cffi==19.1.0
autopep8==1.4.4
blinker==1.4
cffi==1.12.3
click==7.0
dnspython==1.16.0
elasticsearch==7.0.2
elasticsearch-dsl==7.0.0
flake8==3.7.8
flake8-isort==2.7.0
Flask==1.1.1
Flask-Assets==0.12
Flask-DebugToolbar==0.10.1
Flask-Migrate==2.5.2
flask-paginate==0.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
gevent==1.4.0
greenlet==0.4.15
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.1.0
MarkupSafe==1.1.1
mysql-replication==0.19
mysqlclient==1.4.3
orderedset==2.0.1
packaging==19.1
passlib==1.7.1
progressbar33==2.4
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
PyMySQL==0.9.3
pyparsing==2.4.2
pytest==5.0.1
python-dateutil==2.8.0
python-editor==1.0.4
python-utils==2.3.0
requests==2.22.0
SQLAlchemy==1.3.6
SQLAlchemy-FullText-Search==0.2.5
SQLAlchemy-Utils==0.34.1
statsd==3.3.0
urllib3==1.25.3
uWSGI==2.0.18
redis==3.2.1
webassets==0.12.1
Werkzeug==0.15.5
WTForms==2.2.1
Flask-Caching==1.7.2
Flask-Limiter==1.0.1
