.panel-heading-collapse a:after {
	font-family:'Glyphicons Halflings';
	content:"\e114";
	float: right;
	color: grey;
}

.panel-heading-collapse a.collapsed:after {
	content:"\e080";
}

.torrent-list > tbody > tr > td {
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 603px;	/*Will this break something?*/
}

table.torrent-list thead th {
	position: relative;
	background-image: none !important;
}

table.torrent-list thead th a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	z-index: 10;
	/* IE Workaround */
	background-color: white;
	opacity: 0;
	filter: alpha(opacity=1);
}

table.torrent-list thead th.sorting:after,
table.torrent-list thead th.sorting_asc:after,
table.torrent-list thead th.sorting_desc:after {
	position: absolute;
	top: 12px;
	right: 8px;
	display: block;
	font-family: FontAwesome;
}

table.torrent-list thead th.sorting:after {
	content: "\f0dc";
	color: #808080;
	font-size: 0.85em;
}

table.torrent-list thead th.sorting_asc:after {
	content: "\f0de";
}

table.torrent-list thead th.sorting_desc:after {
	content: "\f0dd";
}

table.torrent-list tbody tr td a:visited {
	color: #1d4568;
}

/* comments count */
table.torrent-list .hdr-comments {
	border-left: hidden;
	font-size: medium;
}

table.torrent-list .hdr-comments i {
	margin-right: 6px;
}

table.torrent-list tbody .comments {
	position: relative;
	float: right;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	color: #383838;
	padding: 0 5px;
	font-size: small;
	background-color: #ffffff;
}
table.torrent-list tbody .comments i {
	padding-right: 2px;
}

#torrent-description img {
	max-width: 100%;
}

.table > tbody > tr.deleted > td, .table > tbody > tr.deleted > th, .table > tbody > tr > td.deleted, .table > tbody > tr > th.deleted, .table > tfoot > tr.deleted > td, .table > tfoot > tr.deleted > th, .table > tfoot > tr > td.deleted, .table > tfoot > tr > th.deleted, .table > thead > tr.deleted > td, .table > thead > tr.deleted > th, .table > thead > tr > td.deleted, .table > thead > tr > th.deleted {
	background-color:#9e9e9e;
}

.table-hover > tbody > tr.deleted:hover > td, .table-hover > tbody > tr.deleted:hover > th, .table-hover > tbody > tr:hover > .deleted, .table-hover > tbody > tr > td.deleted:hover, .table-hover > tbody > tr > th.deleted:hover {
	background-color:#bdbdbd;
}

.panel-deleted {
	border-color:#757575;
}

.panel-deleted > .panel-heading {
	color:#212121;
	background-color:#9e9e9e;
	border-color:#757575;
}

.panel-deleted > .panel-heading + .panel-collapse > .panel-body {
	border-top-color:#757575;
}

.panel-deleted > .panel-heading .badge {
	color:#9e9e9e;
	background-color:#212121;
}

.panel-deleted > .panel-footer + .panel-collapse > .panel-body {
	border-bottom-color:#757575;
}

.markdown-editor label {
	padding: 1em 0;
}

.markdown-source {
	min-height: 360px;
}

.search-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.search-container > .search-bar {
	border-left: 0;
}

#navFilter-criteria > .bootstrap-select:first-child {
	border-right: solid 1px;
}

#navFilter-criteria > .bootstrap-select:first-child > button {
	/* !important is used here to override the programmatically added style on element */
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}

.form-control.search-bar {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
	width: 99%;
	padding-right: 1em;
	border-left: 0;
}

.search-btn {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 4;
	order: 4;
	-ms-flex-item-align: end;
	align-self: flex-end;
	top: -34px;
	height: 0;
	width: auto;
	z-index: 3;
}

#navFilter-criteria {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

#navFilter-category {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.nav-filter {
	width: 100%;
	padding: 1em 0;
}

.bootstrap-select > button {
	margin-top: 1em;
}

/* Allows the bootstrap selects on nav show outside the
 collapsible section of the navigation */
.navbar-collapse.in {
	overflow-y: visible;
}

/* Upload page drop zone */
#upload-drop-zone
{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999999;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: visibility 175ms, opacity 175ms;
	display: table;
	text-shadow: 1px 1px 2px #000;
	color: #fff;
	background: rgba(0, 0, 0, 0.45);
	font: bold 42px Tahoma, sans-serif;
}

#upload-drop-zone span
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	transition: font-size 175ms;
}

/* elasticsearch term highlight */
.hlt1 {
	font-style: normal;
	display: inline-block;
	padding: 0 3px;
	border-radius: 3px;
	border: 1px solid rgba(100, 56, 0, 0.8);
	background: rgba(200,127,0,0.3);
}

ul.nav-tabs#profileTabs {
	margin-bottom: 15px;
}

.comment-panel {
	width: 99%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.comment-panel .panel-body {
	padding-top: 10px;
	padding-bottom: 10px;
}
.comment-panel .col-md-2 p {
	margin-bottom: 5px;
}
.comment-panel:target {
	border-color: black;
	border-width: 2px;
}

.text-purple, a.text-purple:visited {
	color: #a760bc;
}

a.text-purple:hover, a.text-purple:active, a.text-purple:focus {
	color: #a760e0;
}

.comment-details {
	margin-bottom: 10px;
}

.comment-content {
	overflow-wrap: break-word;
}
.comment-content img {
	max-width: 100%;
	max-height: 600px;
}

.comment-box {
	width: 95%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 10px;
}

.comment-actions {
	position: relative;
	float: right;
}

.delete-comment-form {
	display: inline-block;
}

.edit-comment-box {
	display: none;
}

.is-editing .edit-comment-box {
	display: block;
}

.is-editing .comment-content {
	display: none;
}

.edit-waiting {
	float: right;
	width: 20px;
	height: 20px;
	border: 2px solid;
	border-color: gray transparent;
	border-radius: 100%;
	position: relative;
	top: 4px;
	animation: fa-spin 1s infinite linear;
}

#comment {
	height: 8em;
}

.avatar {
	max-width: 120px;
}

.btn-grey {
	color: #000000;
	background-color: #cccfd2;
	border-color: #ccc;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey:active, .btn-grey.active, .open > .dropdown-toggle.btn-grey {
	background-color: #aaaaaa;
}

.btn span.glyphicon-check {
	display: none;
}

.btn.active span.glyphicon-check {
	display: inline;
}

.btn span.glyphicon-unchecked {
	display: inline;
}

.btn.active span.glyphicon-unchecked {
	display: none;
}

.center {
	float: none;
	margin: 0 auto;
	text-align: center;
}

.strike {
	text-decoration: line-through;
}

/* Torrent file list */
.torrent-file-list ul {
	padding: 5px 20px 0px 20px;
	list-style: none;
	display: none;
}

.torrent-file-list > ul {
	display: block; /* First level always visible */
	padding: 0;
	margin: 0;
}

.torrent-file-list ul[data-show] {
	/* Used to show first level's items based on amount */
	display: block;
}

.torrent-file-list li:not(:last-of-type) {
	margin-bottom: 5px;
}

.torrent-file-list i.fa {
	padding-right: 5px;
}

.torrent-file-list i.fa-folder-open {
	padding-right: 3px;
}

.torrent-file-list a.folder {
	font-weight: bold;
	text-decoration: none;
}

.torrent-file-list .file-size {
	font-weight: bold;
}

.header-anchor {
	padding-left: 0.5em;
	visibility: hidden;
	display: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
	visibility: visible;
	display: inline-block;
}

/* Dark theme */

body.dark {
    background-color: #202020;
    color: #9A9A9A;
}

body.dark .navbar {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    background-color: #191919;
}

body.dark .navbar a,
body.dark .navbar a:visited,
body.dark .navbar a:focus{
    color: #9A9A9A;
}

body.dark .navbar a:hover {
    color: #ffffff;
}

body.dark kbd,
body.dark .btn.edit-comment {
    background-color: #4a4a4a;
    color: #ffffff;
}

body.dark .text-success {
	color: #43b148;
}

body.dark a.text-success:focus,
body.dark a.text-success:active,
body.dark a.text-success:visited {
	color: #43b148;
}

body.dark a.text-success:hover {
	color: #76d97b;
}

body.dark .alert-success {
	background-color: #1e3614;
	border-color: #264219;
	color: #61b640;
}

body.dark .alert-success a,
body.dark .alert-success a:visited {
	color: #6eca4a;
	text-decoration: underline;
}

body.dark .alert-success button[class="close"] {
	color: #6eca4a;
	text-shadow: none;
}

body.dark .alert-success a:hover,
body.dark .alert-success button[class="close"]:hover {
	color: #8fdd71;
}

body.dark .alert-info {
	color: #408fb6;
	background-color: #142c36;
	border-color: #193642;
}

body.dark .alert-info a,
body.dark .alert-info a:visited {
	color: #4a98ca;
    text-decoration: underline;
}

body.dark .alert-info a:hover {
	color: #71b3dd;
}

body.dark .alert-warning {
	color: #ffc26b;
    background-color: #a66d1b;
    border-color: #d08c2b;
}

body.dark .alert-warning a,
body.dark .alert-warning a:visited {
	color: #fbb552;
    text-decoration: underline;
}

body.dark .alert-warning a:hover {
	color: #ffd292;
}

body.dark thead > tr,
body.dark .report-action-column select {
	color: #9A9A9A;
	background-color: #181818;
}

body.dark tbody > tr {
	background-color: #333333;
}

body.dark .table-striped > tbody > tr,
body.dark .table-striped > tbody > tr:nth-of-type(odd) {
	color: #9A9A9A;
}

body.dark .table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #414141;
}

body.dark .table-hover > tbody > tr:hover {
	background-color: #4c4c4c;
}

body.dark .table-bordered > thead:first-child > tr:first-child > th,
body.dark .table-bordered > tbody > tr > td {
	border: 1px solid #000000;
}

body.dark table.torrent-list tbody .comments {
	border-color: #000000;
	background-color: #2f2f2f;
}

body.dark .comment-panel:target {
	border-color: white;
}

body.dark .table > table {
	background-color: #323232;
	color: #9A9A9A;
}

body.dark a,
body.dark a:visited,
body.dark a:focus,
body.dark table.torrent-list tbody .comments {
    color: #7b80e5;
}

body.dark table.torrent-list tbody tr td a:visited,
body.dark table.torrent-list tbody tr td a:focus {
	color: #5559ad;
}

body.dark a:hover,
body.dark table.torrent-list tbody tr td a:hover,
body.dark table.torrent-list tbody .comments:hover {
    color: #a7aaef;
}

body.dark [style*="green"] {
    color: #2cb532 !important; /* important is used here to target inline style */
}
  
body.dark [style*="red"] {
    color: #ff0000 !important; /* important is used here to target inline style */
}

body.dark .container > .panel-default,
body.dark .container > .modal-content {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

body.dark .panel-default,
body.dark .modal-content {
    background-color: #333333;
    color: #9A9A9A;
}
  
body.dark .panel-heading,
body.dark .modal-header,
body.dark .panel-footer {
    background-color: #2c2c2c;
    color: #9A9A9A;
}

body.dark .comment-panel:target {
	border-color: #7b80e5;
}

body.dark [style*="darkgray"] {
	background-color: #181818 !important; /* important is used here to target inline style */
}
  
body.dark blockquote {
    background-color: #262626;
    border-left: 5px solid #7b80e5;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 5px 0 0 5px;
}

body.dark pre,
body.dark code {
	background-color: #262626;
	color: inherit;
	border-color: #4c4c4c;
}

body.dark hr {
	border-color: #000000;
}

body.dark .pagination {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

body.dark .pagination>li>a,
body.dark .pagination>li.disabled>a,
body.dark .pagination>li.disabled>a:focus,
body.dark .pagination>li.disabled:hover>a {
	background-color: #404040;
	color: #7b80e5;
	border: 1px solid #000000;
}

body.dark .pagination>li>a:hover,
body.dark .pagination>li>a:focus {
	background-color: #515151;
	color: #9c9fe7;
	border: 1px solid #000000;
}

body.dark .pagination>.active>a,
body.dark .pagination>.active>a:hover,
body.dark .pagination>.active>a:focus,
body.dark .pagination>.active>span,
body.dark .pagination>.active>span:focus,
body.dark .pagination>.active>span:hover {
	background-color: #7b80e5;
	color: #252525;
	border: 1px solid #000000;
}

/* Texareas, buttons, dropdown menus */
body.dark input.search-bar,
body.dark input[type="text"],
body.dark input[type="password"],
body.dark textarea,
body.dark .dropdown-menu,
body.dark .well,
body.dark select,
body.dark button.dropdown-toggle {
	background-color: #2f2f2f;
	color: #9A9A9A;
}

body.dark .dropdown-menu,
body.dark .well {
	border: 1px solid #000000;
}

body.dark .btn-default.active,
body.dark .btn-default:active,
body.dark .dropdown-menu > li.selected > a,
body.dark .open>.dropdown-toggle.btn-default {
	background-color: #7b80e5;
	color: #252525;
}

body.dark .dropdown-menu > li > a:focus,
body.dark .dropdown-menu > li:hover > a,
body.dark .navbar-nav > li.active:hover > a,
body.dark .dropdown-menu > li.selected:hover > a,
body.dark button.dropdown-toggle.btn-default:hover {
	background-color: #aaadf6;
	color: #252525;
}

body.dark input.search-bar:hover,
body.dark input.search-bar:focus,
body.dark input[type="text"]:hover,
body.dark input[type="text"]:focus,
body.dark input[type="password"]:focus,
body.dark input[type="password"]:hover,
body.dark textarea:hover,
body.dark textarea:focus,
body.dark button.dropdown-toggle:hover,
body.dark button.dropdown-toggle:focus,
body.dark button.dropdown-toggle:active,
body.dark select:hover,
body.dark select:focus,
body.dark a.comments:hover,
body.dark a.comments:focus {
	background-color: #373737;
	border-color: #000000;
	color: #939393; 
}

body.dark textarea:hover,
body.dark textarea:focus {
	background-color: #262626;
}

body.dark input.search-bar:focus,
body.dark input[type="text"]:focus,
body.dark input[type="password"]:focus,
body.dark textarea:focus {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
}

body.dark button.close {
	color: #ffffff;
	background: none;
	opacity: 0.6;
	text-shadow: 0 0 10px rgb(123, 128, 229);
}

body.dark button.close:hover {
	color: #ffffff;
	background: none;
	opacity: 1;
}

body.dark .nav-tabs {
	border-bottom: 0px;
	border-bottom: 1px solid #000000;
}

body.dark .btn-primary,
body.dark .btn-primary:focus,
body.dark .btn-primary:active,
body.dark span.btn,
body.dark span.btn:focus,
body.dark span.btn:active,
body.dark input[type="submit"],
body.dark input[type="submit"]:focus,
body.dark input[type="submit"]:active,
body.dark ul.nav-tabs>li.active>a,
body.dark ul.nav-tabs>li.active>a:focus,
body.dark ul.nav-tabs>li.active>a:active {
	background-color: #7b80e5;
	color: #252525;
	border: 1px solid #000000;
}

body.dark ul.nav-tabs>li>a,
body.dark ul.nav-tabs>li>a:focus,
body.dark ul.nav-tabs>li>a:active {
	background-color: #202020;
	color: #797979;
	border: 1px solid #000000;
}

body.dark .btn-primary:hover,
body.dark span.btn:hover,
body.dark input[type="submit"]:hover,
body.dark ul.nav-tabs>li>a:hover,
body.dark ul.nav-tabs>li.active>a:hover {
	background-color: #aaadf6;
	color: #252525;
	border: 1px solid #000000;
}

body.dark .btn-grey {
	background-color: #cccccc;
	color: #252525;
	border: 1px solid #000000;
}

body.dark .btn-grey:hover {
	background-color: #e5e5e5;
}

body.dark .btn-grey.active:hover,
body.dark .btn-grey.active.focus:hover {
	background-color: #cacaca;
}

body.dark .btn-grey.active,
body.dark .btn-grey.active.focus {
	background-color: #aaaaaa;
	border: 1px solid #000000;
}

body.dark .btn-danger {
	background-color: #d64f4f;
	color: #ffffff;
	border: 1px solid #000000;
}

body.dark .btn-danger:hover {
	background-color: #e55f5f;
}

body.dark .btn-danger.active:hover,
body.dark .btn-danger.active.focus:hover {
	background-color: #cd3333;
}

body.dark .btn-danger.active,
body.dark .btn-danger.active.focus {
	background-color: #bc2323;
	border: 1px solid #000000;
}

body.dark .btn-warning {
	background-color: #43b148;
	color: #ffffff;
	border: 1px solid #000000;
}

body.dark .btn-warning:hover {
	background-color: #5dca62;
}

body.dark .btn-warning.active:hover,
body.dark .btn-warning.active.focus:hover {
	background-color: #36af3b;
}

body.dark .btn-warning.active,
body.dark .btn-warning.active.focus {
	background-color: #279a2c;
	border: 1px solid #000000;
}

/* trusted */
body.dark .torrent-list > tbody > tr.success > td {
	color: #9A9A9A;
	background-color: #1f3614;
}
body.dark .torrent-list > tbody > tr.success:nth-of-type(odd) > td {
	background-color: #2b461e;
}
body.dark .torrent-list > tbody > tr.success:nth-of-type(odd):hover > td,
body.dark .torrent-list > tbody > tr.success:hover > td {
	background-color: #335025;
}
body.dark .torrent-list > tbody > tr.success > td > a {
    color: #43b148;
}
body.dark .torrent-list > tbody > tr.success > td > a:focus,
body.dark .torrent-list > tbody > tr.success > td > a:visited {
	color: #237326;
}
body.dark .torrent-list > tbody > tr.success > td > a:hover {
    color: #76d97b;
}
body.dark div.panel-success,
body.dark div.panel-success > .panel-heading {
	border: 1px solid #000000;
}
body.dark div.panel-success > .panel-heading {
	background-color: #1f3614;
	color: #43b148;
}

/* remake */
body.dark .torrent-list > tbody > tr.danger > td {
	color: #9A9A9A;
	background-color: #361414;
}
body.dark .torrent-list > tbody > tr.danger:nth-of-type(odd) > td {
	background-color: #421919;
}
body.dark .torrent-list > tbody > tr.danger:hover > td {
	background-color: #4c2020;
}
body.dark .torrent-list > tbody > tr.danger > td > a {
    color: #d64f4f;
}
body.dark .torrent-list > tbody > tr.danger > td > a:focus,
body.dark .torrent-list > tbody > tr.danger > td > a:visited {
    color: #8c3333;
}
body.dark .torrent-list > tbody > tr.danger > td > a:hover {
    color: #e68080;
}
body.dark div.panel-danger,
body.dark div.panel-danger > .panel-heading {
	border: 1px solid #000000;
}
body.dark div.panel-danger > .panel-heading {
	background-color: #361414;
    color: #d64f4f;
}

/* deleted */
body.dark .torrent-list > tbody > tr.deleted > td {
	background-color: rgba(255, 255, 255, 0.20);
}
body.dark .torrent-list > tbody > tr.deleted:hover > td {
	background-color: rgba(255, 255, 255, 0.26);
}
body.dark .panel-deleted > .panel-heading {
	color: #232323;
}


@media (max-width: 991px) {
	.panel-body .col-md-5 {
		margin-left: 20px;
		margin-bottom: 10px;
	}

	#navFilter-criteria > .bootstrap-select:first-child > button {
		/* !important is used here to override the programmatically added style on element */
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}

	.search-container > .search-bar {
		margin-top: 15px;
	}
}

@media (min-width: 992px) {
	.panel-body .col-md-5 {
		word-wrap: break-word;
	}

	.search-btn {
		top: 0;
		width: auto;
	}

	.bootstrap-select > button {
		margin-top: auto;
	}
}

table.table > tbody > tr.reports-row > td {
	vertical-align: middle;
}

td.report-action-column {
	min-width: 150px;
}

@media (min-width: 992px) and (max-width: 1199px) {
	/* Collapse navbar search form so it doesn't wrap to a new line */
	.search-container {
		width: 400px;
	}
}


/* Override <blockquote> font size (assume main.css comes after bootstrap) */
blockquote {
	font-size: inherit;
}
