[mysqld]
innodb_ft_min_token_size=2
ft_min_word_len=2
innodb_ft_cache_size = 80000000
innodb_ft_total_cache_size = 1600000000
max_allowed_packet = 100M

[mariadb]
log-bin
server_id=1
log-basename=master1
binlog-format = row
