[mariadb]

transaction-isolation          = READ-COMMITTED

datadir                        = /var/lib/mysql
socket                         = /var/lib/mysql/mysql.sock
user=mysql

symbolic-links                 = 0

key_buffer_size                = 32M
max_allowed_packet             = 1024M
thread_stack                   = 256K
thread_cache_size              = 64
query_cache_limit              = 8M
query_cache_size               = 64M
query_cache_type               = 1
max_connections                = 150

#log-bin                       = /var/lib/mysql-bin/mysql_binary_log 
#binlog_format                 = mixed
log-bin
server_id=1
log-basename=master1
binlog-format=row

read_buffer_size               = 2M
read_rnd_buffer_size           = 16M
sort_buffer_size               = 8M
join_buffer_size               = 8M

innodb_file_per_table          = 1
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size         = 64M
innodb_buffer_pool_size        = 1G
innodb_thread_concurrency      = 8
innodb_flush_method            = O_DIRECT
innodb_log_file_size           = 512M

[mysqld_safe]
log-error                      = /var/log/mysqld.log
pid-file                       = /var/run/mysqld/mysqld.pid

