{% macro render_field(field, render_label=True) %}
{% if field.errors %}
	<div class="form-group has-error">
{% else %}
	<div class="form-group">
{% endif %}
		{% if render_label %}
		{{ field.label(class='control-label') }}
		{% endif %}
		{{ field(title=field.description,**kwargs) | safe }}
		{% if field.errors %}
			<div class="help-block">
				{% if field.errors|length < 2 %}
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				{% else %}
					<ul>
						{% for error in field.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endmacro %}


{% macro render_markdown_editor(field, field_name='') %}
{% if field.errors %}
	<div class="form-group has-error">
{% else %}
	<div class="form-group">
{% endif %}
	<div class="markdown-editor" id="{{ field_name }}-markdown-editor" data-field-name="{{ field_name }}">
		{{ field.label(class='control-label') }}
		<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="small">Markdown supported</a>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#{{ field_name }}-tab" role="tab" data-toggle="tab">
					Write
				</a>
			</li>
			<li role="presentation">
				<a href="#{{ field_name }}-preview" id="{{ field_name }}-preview-tab" role="tab" data-toggle="tab">
					Preview
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="{{ field_name }}-tab" data-markdown-target="#{{ field_name }}-markdown-target">
				{# Render this field manually, because we need to escape the inner text #}
				<textarea class="form-control markdown-source" id="{{ field.id }}" name="{{ field.name }}">
				{{- (field.data or "") | escape | replace('\r\n', '\n') | replace('\n', '&#10;'|safe) -}}
				</textarea>
				{% if field.errors %}
					<div class="help-block">
						{% if field.errors|length < 2 %}
							{% for error in field.errors %}
								{{ error }}
							{% endfor %}
						{% else %}
							<ul>
								{% for error in field.errors %}
									<li>{{ error }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				{% endif %}
			</div>
			<div role="tabpanel" class="tab-pane" id="{{ field_name }}-preview">
				<div class="well" id="{{ field_name }}-markdown-target"></div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}


{% macro render_upload(field) %}
{% if field.errors %}
	<div class="form-group has-error">
{% else %}
	<div class="form-group">
{% endif %}
		<label class="control-label" for="torrent_file">Torrent file</label>
		<div class="input-group">
			<label for="{{ field.id }}" class="input-group-btn">
				<span class="btn btn-default">Browse&hellip;</span>
			</label>
			<input type="text" class="form-control" readonly>
		</div>
		<div class="sr-only">
			{{ field(title=field.description,**kwargs) | safe }}
		</div>
		{% if field.errors %}
			<div class="help-block">
				{% if field.errors|length < 2 %}
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				{% else %}
					<ul>
						{% for error in field.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endmacro %}

{% macro render_menu_with_button(field) %}
{% if field.errors %}
	<div class="form-group has-error">
{% else %}
	<div class="form-group">
{% endif %}
		{{ field.label(class='control-label') }}
		{{ field(title=field.description,**kwargs) | safe }}
		<button type="submit" class="btn btn-primary">Apply</button>
		{% if field.errors %}
			<div class="help-block">
				{% if field.errors|length < 2 %}
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				{% else %}
					<ul>
						{% for error in field.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endmacro %}

{% macro render_category_options(selected_cat_id=None, has_selected_option=False) %}
	{% set nyaa_cats = [('1_0', 'Anime', 'Anime'),
		('1_1', '- Anime Music Video', 'Anime - AMV'),
		('1_2', '- English-translated', 'Anime - English'),
		('1_3', '- Non-English-translated', 'Anime - Non-English'),
		('1_4', '- Raw', 'Anime - Raw'),
		('2_0', 'Audio', 'Audio'),
		('2_1', '- Lossless', 'Audio - Lossless'),
		('2_2', '- Lossy', 'Audio - Lossy'),
		('3_0', 'Literature', 'Literature'),
		('3_1', '- English-translated', 'Literature - English'),
		('3_2', '- Non-English-translated', 'Literature - Non-English'),
		('3_3', '- Raw', 'Literature - Raw'),
		('4_0', 'Live Action', 'Live Action'),
		('4_1', '- English-translated', 'Live Action - English'),
		('4_2', '- Idol/Promotional Video', 'Live Action - Idol/PV'),
		('4_3', '- Non-English-translated', 'Live Action - Non-English'),
		('4_4', '- Raw', 'Live Action - Raw'),
		('5_0', 'Pictures', 'Pictures'),
		('5_1', '- Graphics', 'Pictures - Graphics'),
		('5_2', '- Photos', 'Pictures - Photos'),
		('6_0', 'Software', 'Software'),
		('6_1', '- Applications', 'Software - Apps'),
		('6_2', '- Games', 'Software - Games')] %}

	{% set suke_cats = [('1_0', 'Art', 'Art'),
		('1_1', '- Anime', 'Art - Anime'),
		('1_2', '- Doujinshi', 'Art - Doujinshi'),
		('1_3', '- Games', 'Art - Games'),
		('1_4', '- Manga', 'Art - Manga'),
		('1_5', '- Pictures', 'Art - Pictures'),
		('2_0', 'Real Life', 'Real Life'),
		('2_1', '- Photobooks and Pictures', 'Real Life - Pictures'),
		('2_2', '- Videos', 'Real Life - Videos')] %}

	{% if config.SITE_FLAVOR == 'nyaa' %}
		{% set used_cats = nyaa_cats %}
	{% elif config.SITE_FLAVOR == 'sukebei' %}
		{% set used_cats = suke_cats %}
	{% endif %}

	{% for cat_id, cat_name, cat_title in used_cats %}
		<option
				value="{{ cat_id }}"
				title="{{ cat_title }}"
				{% if has_selected_option and selected_cat_id == cat_id %} selected{% endif %}
		>
			{{ cat_name }}
		</option>
	{% endfor %}
{% endmacro %}
