{% extends "layout.html" %}
{% block title %}Edit {{ torrent.display_name }} :: {{ config.SITE_NAME }}{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_markdown_editor %}

{% set torrent_url = url_for('view_torrent', torrent_id=torrent.id) %}
<h1>
	Edit Torrent <a href="{{ torrent_url }}">#{{torrent.id}}</a>
	{% if (torrent.user != None) and (torrent.user != g.user) %}
	(by <a href="{{ url_for('view_user', user_name=torrent.user.username) }}">{{ torrent.user.username }}</a>)
	{% endif %}
</h1>

<form method="POST" enctype="multipart/form-data">
	{{ form.csrf_token }}


	<div class="row">
		<div class="col-md-6">
		{{ render_field(form.display_name, class_='form-control', placeholder='Display name') }}
		</div>
		<div class="col-md-4">
		{{ render_field(form.category, class_='form-control')}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		{{ render_field(form.information, class_='form-control', placeholder='Your website or IRC channel') }}
		</div>
		<div class="col-md-6">
			<label class="control-label">Torrent flags</label>
			<div>
			{% if g.user.is_moderator %}
			<label class="btn btn-primary">
				{{ form.is_deleted }}
				Deleted
			</label>
			{% endif %}

			<label class="btn btn-default" style="background-color: darkgray; border-color: #ccc;" title="Hide torrent from listing">
				{{ form.is_hidden }}
				Hidden
			</label>
			<label class="btn btn-danger" title="This torrent is derived from another release">
				{{ form.is_remake }}
				Remake
			</label>
			<label class="btn btn-primary" title="This torrent is a complete batch (eg. season)">
				{{ form.is_complete }}
				Complete
			</label>

			{# Only allow changing anonymous status when an uploader exists #}
			{% if torrent.uploader_id %}
			<label class="btn btn-primary" title="Upload torrent anonymously (don't display your username)">
				{{ form.is_anonymous }}
				Anonymous
			</label>
			{% endif %}
			{% if g.user.is_trusted %}
			<label class="btn btn-success" title="Mark torrent trusted">
				{{ form.is_trusted }}
				Trusted
			</label>
			{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			{{ render_markdown_editor(form.description, field_name='description') }}
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-6">
			<input type="submit" value="Edit" class="btn btn-primary">
		</div>
	</div>
</form>
{% endblock %}
