{% extends "layout.html" %}
{% block title %}Help :: {{ config.SITE_NAME }}{% endblock %}
{% block body %}

{% macro linkable_header(heading, label) %}
	<h3 id="{{ label }}">{{ heading }}<a class="header-anchor" href="#{{ label }}"><i class="fa fa-link" aria-hidden="true"></i></a></h3>
{% endmacro %}

<h1>Using the Site</h1>

{{ linkable_header("Torrent Colors", "torrent-colors") }}
<div>
	<span style="color:green; font-weight: bold;">Green</span> entries (trusted) are:
	<ul>
		<li>Torrents uploaded by trusted users.</li>
	</ul>
	<span style="color:red; font-weight: bold;">Red</span> entries (remake) are torrents that match any of the following:
	<ul>
		<li>Reencode of original release.</li>
		<li>Remux of another uploader's original release for hardsubbing and/or fixing purposes.</li>
		<li>Reupload of original release using non-original file names.</li>
		<li>Reupload of original release with missing and/or unrelated additional files.</li>
	</ul>
	<span style="color:orange; font-weight: bold;">Orange</span> entries are:
	<ul>
		<li>Batches of completed series.</li>
	</ul>
	<span style="color:grey; font-weight: bold;">Grey</span> entries are:
	<ul>
		<li>Hidden torrents.</li>
	</ul>
</div>

{{ linkable_header("Using the Search Engine", "using-search") }}
<div>
	Search results can be filtered by category, remake, trusted, and users.
	The results can be further sorted by size, date, seeders, leechers, completed count, and comment count.
</div>
<div>
	You can combine search terms with the <kbd>|</kbd> operator, such as
	<kbd>foo|bar</kbd>, to match any of the words instead all of them.
</div>
<div>
	To exclude results matching a certain word, prefix them with <kbd>-</kbd>,
	e.g. <kbd>foo -bar</kbd>, which will return torrents with <em>foo</em> in the
	name, but not those which have <em>bar</em> in the name as well.
</div>
<div>
	If you want to search for a several-word expression (substring) in its entirety, you can
	surround searches with <kbd>"</kbd> (double quotes), such as
	<kbd>"foo bar"</kbd>, which would match torrents named <em>foo bar</em> but not
	those named <em>bar foo</em>. You may also use the aforementioned <kbd>|</kbd> to group
	phrases together: <kbd>"foo bar"|"foo baz"</kbd>. You can negate the entire
	group with <kbd>-</kbd> (e.g. <kbd>-"foo bar"|"foo baz"</kbd>), but not single items.
</div>
<div>
	You can also use <kbd>(</kbd> and <kbd>)</kbd> to signify precedence, but quoted strings do
	not honor this. Using <kbd>(hello world) "foo bar"</kbd> is fine, but quoted strings inside
	the parentheses will lead to unexpected results.
</div>

{{ linkable_header("Reporting Torrents", "reporting") }}
<div>
	If you find a torrent that breaks the rules, click the
	<button type="button" class="btn btn-xs btn-danger">Report</button> button to the right
	of the torrent's information page. Then, enter a reason for your report in the
	dialog that opens, and hit the <button type="button" class="btn btn-xs btn-danger">
	Report</button> button to confirm.
</div>

{{ linkable_header("Styling Descriptions and Comments", "styling") }}
<div>
	You can style your comments and your torrent's description using
	<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>.
	This includes adding images or linking to external websites.
</div>
<div>
	To link to an external site, use <kbd>[label](https://example.com)</kbd>
	where the text in the <kbd>[]</kbd> square brackets is the shown text of your
	link, and the URL in the <kbd>()</kbd> parentheses is the URL your link will
	point to.
</div>
<div>
	Embedding an image is similar. Use <kbd>![alt text](https://example.com/image.jpg)</kbd>
	to have an image embedded in your comment or description. Note the <kbd>!</kbd>
	exclamation mark at the beginning, denoting that this link is an image.
</div>

{{ linkable_header("Changing Your User's Avatar", "avatar") }}
<div>
	The site uses the <a href="https://www.gravatar.com">Gravatar</a> service for user avatars.
	Check out <a href="https://www.gravatar.com/support/">Gravatar's help section</a> for more detailed instructions.
</div>

{{ linkable_header("Deleting Your Torrent", "delete") }}
<div>
	If you wish to delete one of your torrents, navigate to the torrent's page,
	click the Edit (<i class="fa fa-fw fa-pencil"></i>) icon on the top left,
	scroll down and hit the <button type="button" class="btn btn-xs btn-danger">Delete</button>
	button.
</div>

{{ linkable_header("Getting Trusted Status", "trusted") }}
<div>
	At the moment we have no established process for granting trusted status to users
	who did not previously have it. If and when we establish such a process it will be announced.
</div>

{{ linkable_header("IRC Help Channel Policies", "irchelp") }}
<div>
	<p>Our IRC help channel is at Rizon <a href="irc://irc.rizon.net/nyaa-help">#nyaa-help</a>. A webchat link
	pre-filled with our channel is available <a href="https://qchat.rizon.net/?channels=nyaa-help">right here</a>.</p>

	<b>Read this to avoid getting banned:</b>
	<ul>
		<li>The IRC channel is for site support <b>only</b>.</li>
		<li>XDCC, similar services, and their triggers are not allowed.</li>
		<li>Do not idle if you do not need site support unless you have voice/+ access, you may be removed otherwise</li>
		<li>We do not know when A or B will be released, if it's authentic, or anything about a particular release. Do not ask.</li>
		<li><b>Requests are not allowed.</b> We only manage the site; we do not necessarily have the material you want on hand.</li>
		<li>Use English only. Even though we aren't all from English-speaking countries, we need level ground to communicate on.</li>
		<li><b>Do NOT under any circumstances send private messages to the staff. Ask your question in the channel on joining and wait; a staff member will respond in due time.</b></li>
	</ul>

	<b>Keep these things in mind when asking for help:</b>
	<ul>
	<li>We are not interested in your user name. Paste a link to your account if you want us to do something with it.</li>
	<li>Provide as many details as possible. If you are having trouble submitting any kind of entry, we want to know everything about you and what (except any passwords) you supply to the form in question.</li>
	</ul>
</div>

{# <div class="content">
	<h1>Help</h1>
	<p><b>The search engine</b> is located at the top right, and it allows users to search through the torrent titles available on the site. Results matching either word A or B can be included by typing a vertical bar between them (|). Results matching a certain word can be excluded by prefixing that word with a hyphen-minus (-). Phrases can be matched by surrounding them with double-quotes (). Search results can be filtered by category, remake, trusted, and/or A+ status, and then narrowed down further by age and size ranges as well as excluding specific users. Sorting can be done in ascending or descending order by date, amount of seeders/leechers/downloads, size, or name. The search engine adapts to the current view and makes it possible to search for specific torrents in a specific subcategory from a specific user.</p>
	<p><b>Blue entries:</b></p>
	<ul>
		<li>
			<p>Torrents marked as A+ quality are blue in the torrent lists.</p>
		</li>
		<li>
			<p>These are exclusive torrents picked by us.</p>
		</li>
		<li>
			<p>They represent the best available version of this content.</p>
		</li>
		<li>
			<p>There will be no duplicates.</p>
		</li>
		<li>
			<p>Only versions that we actually consider worthy of a seal of approval will be listed.</p>
		</li>
	</ul>
	<p>Uploaders are encouraged to leave a complete description of the release on the torrent information page. This is especially true for batches.<br></p>
	<p><b>Green entries:</b> Torrents uploaded by trusted users are green in the torrent lists.<br></p>
	<p><b>Orange entries:</b> Torrents must be marked as remakes if any of the following applies to the release:</p>
	<ul>
		<li>
			<p>Reencode of original release.</p>
		</li>
		<li>
			<p>Remux of another uploader's original release for hardsubbing and/or fixing purposes.</p>
		</li><!--<li>Non-v2 (or non-v3, etc.) remux of original release using a similar source.</li>-->
		<li>
			<p>Reupload of original release using non-original file names.</p>
		</li>
		<li>
			<p>Reupload of original release with missing and/or unrelated additional files.</p>
		</li>
	</ul>
	<p><b>Red entries:</b> Torrents containing completed series or other complete sets are red.<br></p>
	<p><b>Grey entries:</b> Hidden torrents are grey.<br></p>
	<p><b>The tools to manage your torrents</b> are located right above the torrent's details on the information page. Editable fields are the torrent's title, category, description, information link, metadata, and the alias and key fields which are explained on the page. It is also possible to hide the torrent which prevents it from being displayed in lists or even delete it altogether.<br></p>
	<p><b>Pseudo-anonymous uploads</b> are torrents that will appear to be anonymous, but you can still manage them through your account.<br></p>
	<p><b>Flagging torrents</b> points them out for moderator review. Torrents can be flagged by clicking on the link located in the upper right corner of their information pages.<br></p>
	<p><b>RSS</b> is a useful Web feed that automatically updates when a torrent is added by a user. Many programs such as popular BitTorrent clients, which can be set up for automatic downloading, can make use of RSS feeds. The RSS feed link is dynamic which means that it will - like the search function - adapt to the current view, search results included.<br></p>
	<p><b>BBCode user input</b> is parsed by the torrent descriptions, information links, and torrent comments, and they all support basic BBCode like [b], [i], [s], [u], [left], [center], [right], [code], [email], [img], [url], [color], [font], [size], [quote], and [spoiler].<br></p>
	<p><b>The upload page</b> returns various HTTP status codes in order to simplify automated uploads. The following details the custom codes used:</p>
	<ul>
		<li>
			<p>200: The ID of the uploaded torrent can be found in the Record-ID header.</p>
		</li>
		<li>
			<p>418: You're doing it wrong.</p>
		</li>
		<li>
			<p>460: You forgot to include a valid announce URL. Torrents using only DHT are not allowed, because this is most often just a mistake on behalf of the uploader.</p>
		</li>
		<li>
			<p>461: This torrent already exists in the database.</p>
		</li>
		<li>
			<p>462: The file you uploaded or linked to does not seem to be a torrent.</p>
		</li>
		<li>
			<p>463: The form is missing required data like the category and/or the checkbox which confirms that you have read the rules.</p>
		</li>
		<li>
			<p>520: Server-side error. Wait for a few minutes, and then notify Nyaa if the problem did not go away.</p>
		</li>
	</ul>
	<h1>IRC help channel</h1><a href="irc://irc-server:port/channel?key">
	<h1>NyaaV2 IRC</h1></a>
	<p>The IRC channel is only for site support.<br></p>
	<p><b>Read this to avoid getting banned:</b></p>
	<ul>
		<li>
			<p>Do not sit around if you do not need site support unless you have voice/+ access.</p>
		</li>
		<li>
			<p>Requests are not allowed. We only manage the site; we do not necessarily have the material you want on hand.</p>
		</li>
		<li>
			<p>We do not know when A or B will be released, if it's authentic, or anything about a particular release. Do not ask.</p>
		</li>
		<li>
			<p>XDCC, similar services, and their triggers are not allowed.</p>
		</li>
		<li>
			<p>Use English only. Even though we aren't all from English-speaking countries, we need level ground to communicate on.</p>
		</li>
		<li>
			<p>Do not send private messages to the staff. Ask your question in the channel on joining and wait; a staff member will respond in due time.</p>
		</li>
	</ul>
	<p><b>Keep these things in mind when asking for help:</b></p>
	<ul>
		<li>
			<p>We are not interested in your user name. Paste a link to your account if you want us to do something with it.</p>
		</li>
		<li>
			<p>Provide as many details as possible. If you are having trouble submitting any kind of entry, we want to know everything about you and what (except any passwords) you supply to the form in question.</p>
		</li>
	</ul>
</div> #}
{% endblock %}
