{% extends "layout.html" %}
{% block title %}Browse :: {{ config.SITE_NAME }}{% endblock %}
{% block body %}

<div class="alert alert-info">
	<p><strong>5/17 Update:</strong> We've added faster and more accurate search! In addition to your typical search in both English and other languages, you can also now use powerful operators 
	like "clockwork planet -raws" or "commie|horrible yowamushi" and others. For all supported operators, please visit <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html#_simple_query_string_syntax">here</a>.
	More features will be coming soon too!</p>	<p>We welcome you to provide feedback at <a href="irc://irc.rizon.net/nyaa-dev">#nyaa-dev@irc.rizon.net</a></p>
	<p>Our GitHub: <a href="https://github.com/nyaadevs" target="_blank">https://github.com/nyaadevs</a> - creating <a href="https://github.com/nyaadevs/nyaa/issues">issues</a> for features and faults is recommendable!</p>
</div>


{% include "search_results.html" %}

{% endblock %}
