{% extends "layout.html" %}
{% block title %}Password reset :: {{ config.SITE_NAME }}{% endblock %}
{% block metatags %}
<meta property="og:description" content="Reset your password on {{ config.SITE_NAME }}!">
{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}

<h1>Password reset</h1>
	<form method="POST">
		{{ form.csrf_token }}

		<div class="row">
			<div class="form-group col-md-4">
				{{ render_field(form.password, class_='form-control', placeholder='Password') }}
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-4">
				{{ render_field(form.password_confirm, class_='form-control', placeholder='Password (confirm)') }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<input type="submit" value="Reset password" class="btn btn-primary">
			</div>
		</div>
	</form>
{% endblock %}
