{% extends "layout.html" %}
{% block title %}Password reset request :: {{ config.SITE_NAME }}{% endblock %}
{% block metatags %}
<meta property="og:description" content="Request to reset your password on {{ config.SITE_NAME }}!">
{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}

<h1>Request password reset</h1>
	<form method="POST">
		{{ form.csrf_token }}

		<div class="row">
			<div class="form-group col-md-4">
				{{ render_field(form.email, class_='form-control', placeholder='Email address') }}
			</div>
		</div>

		{% if config.USE_RECAPTCHA %}
		<div class="row">
			<div class="col-md-4">
				{% for error in form.recaptcha.errors %}
				{{ error }}
				{% endfor %}
				{{ form.recaptcha }}
			</div>
		</div>
		<br>

		{% endif %}

		<div class="row">
			<div class="col-md-4">
				<input type="submit" value="Request password reset" class="btn btn-primary">
			</div>
		</div>
	</form>
{% endblock %}
