{% extends "layout.html" %}
{% block title %}Register :: {{ config.SITE_NAME }}{% endblock %}
{% block metatags %}
<meta property="og:description" content="Register to {{ config.SITE_NAME }}!">
{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}

<h1>Register</h1>
	<p><strong>Important:</strong> Do not use Outlook (Hotmail/Live/MSN) email addresses, they discard our verification email without sending it to spam. No support is offered if you ignore this warning.</p>
	<form method="POST">
		{{ form.csrf_token }}

		<div class="row">
			<div class="form-group col-md-4">
				{{ render_field(form.username, class_='form-control', placeholder='Username') }}
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-4">
				{{ render_field(form.email, class_='form-control', placeholder='Email address') }}
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-4">
				{{ render_field(form.password, class_='form-control', placeholder='Password') }}
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-4">
				{{ render_field(form.password_confirm, class_='form-control', placeholder='Password (confirm)') }}
			</div>
		</div>

		{% if config.USE_RECAPTCHA %}
		<div class="row">
			<div class="col-md-4">
				{% for error in form.recaptcha.errors %}
				{{ error }}
				{% endfor %}
				{{ form.recaptcha }}
			</div>
		</div>
		{% endif %}

		<br>

		<div class="row">
			<div class="col-md-4">
				<input type="submit" value="Register" class="btn btn-primary">
			</div>
		</div>
	</form>
{% endblock %}

