{% extends "layout.html" %}
{% block title %}Rules :: {{ config.SITE_NAME }}{% endblock %}
{% block body %}

<div class="content">
	<h1>Site Rules</h1><!-- <br> -->
	{# <b>Spoilers:</b> Your account will be banned if you repeatedly post these without using the [spoiler] tag properly. #}
	<h1>Breaking any of the rules on this page may result in being banned</h1>
	<p><b>Shitposting and Trolling:</b> Your account will be banned if you keep this up. Repeatedly making inaccurate/false reports falls under this rule as well.</p>
	<p><b>Bumping:</b> Your account will be banned if you keep deleting and reposting your torrents.</p>
	<p><b>Flooding:</b> If you have five or more releases of the same type to release in one go, make a batch torrent containing all of them.</p>
	<p><b>URL redirection services:</b> These are removed on sight along with their torrents.</p>
	<p><b>Advertising:</b> No.</p>
	<p><b>Content restrictions:</b> This site is for content that originates from and/or is specific to China, Japan, and/or Korea.</p>
	<p>Other content is not allowed without exceptions and will be removed.</p><br>
	<p><a href="//{{ config.EXTERNAL_URLS['main'] }}"><b>{{ config.EXTERNAL_URLS['main'] }}</b></a> is for <b>work-safe</b> content only. The following rules apply:</p>
	<ul>
		<li>
			<p>No pornography of any kind.</p>
		</li>
		<li>
			<p>No extreme visual content. This means no scat, gore, or any other of such things.</p>
		</li>
		<li>
			<p>Troll torrents are not allowed. These will be removed on sight.</p>
		</li>
	</ul><br>
	<p><a href="//{{ config.EXTERNAL_URLS['fap'] }}"><b>{{ config.EXTERNAL_URLS['fap'] }}</b></a> is the place for <b>non-work-safe</b> content only. Still, the following rules apply:</p>
	<ul>
		<li>
			<p>No extreme real life visual content. This means no scat, gore, bestiality, or any other of such things.</p>
		</li>
		<li>
			<p>Absolutely no real life child pornography of any kind.</p>
		</li>
		<li>
			<p>Troll torrents are not allowed. These will be removed on sight.</p>
		</li>
	</ul><br>
	<p><b>Torrent information:</b> Text files (.txt) or info files (.nfo) for torrent or release group information are preferred.</p>
	<p>Torrents containing (.chm) or (.url) files may be removed.</p><br>
	<p><b>Upper limits on video resolution based on source:</b></p>
	<ul>
		<li>
			<p>DVD source video is limited to 1024x576p.</p>
		</li>
		<li>
			<p>Web source video is limited to 1920x1080p or source resolution, whichever is lower.</p>
		</li>
		<li>
			<p>TV source video is by default limited to 1920x1080p.<!-- The BS11, BS-NTV, NHK-BS Premium, and WOWOW channels are limited to 1920x1080p.--> SD channels, however, are limited to 480p.</p>
		</li>
		<li>
			<p>Blu-ray source video is limited to 1920x1080p.</p>
		</li>
		<li>
			<p>UHD source video is limited to 3840x2160p.</p>
		</li>
	</ul><br>
	<p>Naturally, untouched sources are not bound by these limits. Leaks are also not subject to any resolution limits.</p><br>
	<p><b>Finally, a few notes concerning tagging and using other people's work:</b></p>
	<ul>
		<li>
			<p>Do not add your own tag(s) when reuploading an original release.</p>
		</li>
		<li>
			<p>Unless you are reuploading an original release, you should either avoid using tags that are not your own or make it extremely clear to everyone that you are the one responsible for the upload.</p>
		</li>
		<li>
			<p>If these policies are not obeyed, then those torrents will be removed if reported by a group or person commonly seen as the owner of the tag(s). This especially applies to remake torrents.</p>
		</li>
		<li>
			<p>Although only hinted at above, we may remove troll torrents tagged with A-sucks, B-is-slow, or such if reported by A or B.</p>
		</li>
		<li>
			<p>Remakes which are utterly bit rate-starved are not allowed.</p>
		</li>
		<li>
			<p>Remakes which add watermarks or such are not allowed.</p>
		</li>
		<li>
			<p>Remakes which reencode video to XviD or worse are not allowed.</p>
		</li>
		<li>
			<p>Remakes of JPG/PNG-based releases are not allowed without exceptions since there is most often no point in making such.</p>
		</li>
	</ul>
</div>
{% endblock %}
