{% extends "layout.html" %}
{% block title %}{{ torrent.display_name }} :: {{ config.SITE_NAME }}{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="panel panel-{% if torrent.deleted %}deleted{% elif torrent.remake %}danger{% elif torrent.trusted %}success{% else %}default{% endif %}">
	<div class="panel-heading"{% if torrent.hidden %} style="background-color: darkgray;"{% endif %}>
		<h3 class="panel-title">
			{% if can_edit %}
			<a href="{{ request.url }}/edit" title="Edit torrent"><i class="fa fa-fw fa-pencil"></i></a>
			{% endif %}
			{{ torrent.display_name }}
		</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-1">Category:</div>
			<div class="col-md-5">
				<a href="{{ url_for("home", c=torrent.main_category.id_as_string) }}">{{ torrent.main_category.name }}</a> - <a href="{{ url_for("home", c=torrent.sub_category.id_as_string) }}">{{ torrent.sub_category.name }}</a>
			</div>

			<div class="col-md-1">Date:</div>
			<div class="col-md-5" data-timestamp="{{ torrent.created_utc_timestamp|int }}">{{ torrent.created_time.strftime('%Y-%m-%d %H:%M UTC') }}</div>
		</div>

		<div class="row">
			<div class="col-md-1">Submitter:</div>
			<div class="col-md-5">
			{% set user_url = torrent.user and url_for('view_user', user_name=torrent.user.username) %}
			{%- if not torrent.anonymous and torrent.user -%}
			<a href="{{ user_url }}">{{ torrent.user.username }}</a>
			{%- else -%}
			Anonymous {% if torrent.user and (g.user == torrent.user or g.user.is_moderator) %}(<a href="{{ user_url }}">{{ torrent.user.username }}</a>){% endif %}
			{%- endif -%}
			{%- if g.user and g.user.is_superadmin and torrent.uploader_ip -%}
			({{ torrent.uploader_ip_string }})
			{%- endif -%}
			</div>

			<div class="col-md-1">Seeders:</div>
			<div class="col-md-5"><span style="color: green;">{% if config.ENABLE_SHOW_STATS %}{{ torrent.stats.seed_count }}{% else %}Coming soon{% endif %}</span></div>

		</div>

		<div class="row">
			<div class="col-md-1">Information:</div>
			<div class="col-md-5">
				{% if torrent.information %}
				{{ torrent.information_as_link | safe }}
				{% else %}
				No information.
				{% endif%}
			</div>

			<div class="col-md-1">Leechers:</div>
			<div class="col-md-5"><span style="color: red;">{% if config.ENABLE_SHOW_STATS %}{{ torrent.stats.leech_count }}{% else %}Coming soon{% endif %}</span></div>
		</div>

		<div class="row">
			<div class="col-md-1">File size:</div>
			<div class="col-md-5">{{ torrent.filesize | filesizeformat(True) }}</div>

			<div class="col-md-1">Completed:</div>
			<div class="col-md-5">{% if config.ENABLE_SHOW_STATS %}{{ torrent.stats.download_count }}{% else %}Coming soon{% endif %}</div>
		</div>
	</div>
	<div class="panel-footer">
		{% if torrent.has_torrent %}<a href="/view/{{ torrent.id }}/torrent"><i class="fa fa-download fa-fw"></i>Download Torrent</a> or {% endif %}<a href="{{ torrent.magnet_uri }}" class="card-footer-item"><i class="fa fa-magnet fa-fw"></i>Magnet</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body" id="torrent-description">
		{% if torrent.description %}
		{# Escape newlines into html entities because CF strips blank newlines #}
		{{ torrent.description | escape | replace('\r\n', '\n') | replace('\n', '&#10;'|safe) }}
		{% else %}
		#### No description.
		{% endif%}
	</div>
</div>

{% if files and files.__len__() <= config.MAX_FILES_VIEW %}
<div class="panel panel-default">
	<div class="panel-heading panel-heading-collapse">
		<h3 class="panel-title">
			<div class="row">
				<a class="collapsed col-md-12" data-target="#collapseFileList" data-toggle="collapse" style="color:inherit;text-decoration:none;">File list</a>
			</div>
		</h3>
	</div>

	<div class="panel-collapse collapse" id="collapseFileList">
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<th style="width:auto;">Path</th>
				<th style="width:auto;">Size</th>
			</thead>
			<tbody>
				{%- for key, value in files.items() recursive %}
				<tr>
					{%- if value is iterable %}
					<td colspan="2" {% if loop.depth0 is greaterthan 0 %}style="padding-left: {{ loop.depth0 * 20 }}px"{% endif %}>
						<i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;<b>{{ key }}</b></td>
					{{ loop(value.items()) }}
					{%- else %}
					<td{% if loop.depth0 is greaterthan 0 %} style="padding-left: {{ loop.depth0 * 20 }}px"{% endif %}>
						<i class="glyphicon glyphicon-file"></i>&nbsp;{{ key }}</td>
					<td class="col-md-2">{{ value | filesizeformat(True) }}</td>
					{%- endif %}
				</tr>
				{%- endfor %}
		</table>
	</div>
</div>
{% elif files %}
<div class="panel panel-default">
	<div class="panel-heading panel-heading-collapse">
		<h3 class="panel-title">
			<div class="row"><div class="col-md-12">Too many files to display.</div></div>
		</h3>
	</div>
</div>
{% else %}
<div class="panel panel-default">
	<div class="panel-heading panel-heading-collapse">
		<h3 class="panel-title">
			<div class="row"><div class="col-md-12">File list is not available for this torrent.</div></div>
		</h3>
	</div>
</div>
{% endif %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Comments - {{ comments|length }}
		</h3>
	</div>
	{% for comment in comments %}
	<div class="panel panel-default comments-panel">
		<div class="panel-body">
			<div class="col-md-2">
				<p>
					{% set user_url = torrent.user and url_for('view_user', user_name=comment.user.username) %}
					<a href="{{ user_url }}">{{ comment.user.username }}</a>
					{% if comment.user.id == torrent.uploader_id and not torrent.anonymous %}
					(uploader)
					{% endif %}
				</p>
				<p>{{ comment.user.userlevel_str }}</p>
				<p><img class="avatar" src="{{ comment.user.gravatar_url() }}"></p>
			</div>
			<div class="col-md-10">
				<div class="row">
					<small>{{ comment.created_time | timesince }}</small>
					{% if g.user.is_moderator or g.user.id == comment.user_id %}
					<form class="delete-comment-form" action="{{ url_for('delete_comment', torrent_id=torrent.id, comment_id=comment.id) }}" method="POST">
						<button name="submit" type="submit" class="btn btn-danger btn-sm" title="Delete">Delete</button>
					</form>
					{% endif %}
				</div>
				<div class="row">
					{# Escape newlines into html entities because CF strips blank newlines #}
					<div id="torrent-comment{{ comment.id }}">{{ comment.text }}</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var target = document.getElementById('torrent-comment{{ comment.id }}');
		var text = target.innerHTML;
		var reader = new commonmark.Parser({safe: true});
		var writer = new commonmark.HtmlRenderer({safe: true, softbreak: '<br />'});
		var parsed = reader.parse(text.trim());
		target.innerHTML = writer.render(parsed);
	</script>
	{% endfor %}
	{% if comment_form %}
	<form action="{{ url_for('submit_comment', torrent_id=torrent.id) }}" method="POST" class="comment-box">
		{{ comment_form.csrf_token }}
		{{ render_field(comment_form.comment, class_='form-control') }}
		<input type="submit" value="Submit" class="btn btn-success btn-sm">
	</form>
	{% endif %}
</div>

<script>
	var target = document.getElementById('torrent-description');
	var text = target.innerHTML;
	var reader = new commonmark.Parser({safe: true});
	var writer = new commonmark.HtmlRenderer({safe: true, softbreak: '<br />'});
	var parsed = reader.parse(text.trim());
	target.innerHTML = writer.render(parsed);
</script>

{% endblock %}
